body{
    background-color: rgba(0, 0, 0, 0.774);
}
h1{
    font-size: 60px;
    text-align: center;
    background-color: rgb(12, 12, 180);  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(255, 251, 2);

    text-shadow: 
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,0.1),
    0 0 5px rgba(0,0,0,0.1),
    0 1px 3px rgba(0,0,0,0.3),
    0 3px 5px rgba(0,0,0,0.2),
    0 5px 10px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.2),
    0 20px 20px rgba(0,0,0,0.15)
    ;
}
.escudo{
    text-align: center;
}
.Puebla{
    width: 185px;
    height: 255px;
}
.estilo{
    font-family: verdana;
    font-size: 22px;color: rgba(0, 3, 207, 0.637);
    background-color: beige;
    text-align: center;
    text-shadow: 1.6px 1.6px 5px rgb(83, 82, 82);
}
h2,h3,h5,h6,h7,h8,h9,h10,h11{
    color: lime;
    font-size: 35px;
    text-align: left;
}
h4{
background: -webkit-linear-gradient(top,  #e8f7fd 0%,#fffb04 50%,#2bf104 51%,#09f7ff 100%); /* Chrome10-25,Safari5.1-6 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
    /*especifica el color de relleno de un texto*/
    -webkit-background-clip: text;
    color: #fff;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    text-align: left;
}
.Fiesta{
    color:antiquewhite;
    font-family: serif;
    font-size: 26px;
}
.lugar{
    color: rgb(251, 255, 0);
    font-family: serif;
    font-size: 26px;
}
.lugar2{
    color: rgb(40, 255, 21);
    font-family: serif;
    font-size: 26px;
}
.lugar3{
    color: rgb(0, 255, 242);
    font-family: serif;
    font-size: 26px;
}
.lugar3{
    color: rgb(255, 0, 255);
    font-family: serif;
    font-size: 26px;
}
.lugar4{
    color: rgb(245, 77, 77);
    font-family: serif;
    font-size: 26px;
}
.lugar5{
    color: gold;
    font-family: serif;
    font-size: 26px;
}
.lugar6{
    color: rgb(0, 162, 255);
    font-family: serif;
    font-size: 26px;
}
.fecha{
    color:rgb(0, 255, 242);
    font-family: serif;
    font-size: 25px;
}
p{
    color: aliceblue;
    font-family: serif;
    font-size: 27px;
    text-align: justify;
}
img{
    width: 615px;
    height: 440px;
    padding: 22px;

    display: box;
    float: center;
    animation: brillo 80s;
    animation-iteration-count: infinite;
}

@keyframes brillo{
    0%{
        box-shadow: 0px 0px 10px rgb(110, 109, 109);
    }
    50%{
        box-shadow: 0px 0px 50px rgb(207, 207, 207);
    }
    100%{
        box-shadow: 0px 0px 10px rgb(255, 254, 254);
    }  
}
.Forma{
    background: url(../Imagenes/Pueblos.jpg);
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
    width: 915px;
    height: 640px;
    padding: 22px;
    display: box;
    float: center;
    animation: brillo 10s;
    animation-iteration-count: infinite;
}
.Listas{
    color: aliceblue;
    font-family: serif;
    font-size: 35px;
    text-align: justify;
}
.Izquierda{
    float: right;
    width: 660px;
    height: 440px;
}
.Ultimo{
    text-align: center;
    font-size: 45px;
}
.diferente{
    color: white;
    text-align: center;
    font-size: 50px;
}
.derecha{
    text-align: right;
}
.Formato{
    font-size: 33px;
    color: yellow;
    text-align: center;
    background-color: rgb(161, 35, 224);
}
.Vinculo{
    font-size: 22px;
    color: coral;
    text-align: center;
    background-color: beige;
}
.Autor{
    font-size: 32px;
    color: aqua;
    text-align: center;
    background-color: black;
}
.Nombre{
    font-size: 32px;
    color: yellow;
    text-align: center;
    background-color: black;
}
.ID{
    color: coral;
    font-size: 20px;
}
